* {
  border: 1px solid teal;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.a {
  background-color: rgb(95, 95, 95);
  min-height: 20vh;
  flex-grow: 2;
}

.b {
  background-color: rgb(144, 157, 170);
  min-height: 60vh;
  flex-grow: 5;
}

.c {
  background-color: #959595;
  min-height: 20vh;
  flex-grow: 2;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%
  }
  .b  {
    width: 70%
  }
  .c {
    width: 29%
  }
}